body {
    background-color: black;
}

#page-header {
    font-size: 72px;
    color: white;
    text-align: center;
    margin: 10px; 
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 1px 0px 1px #000000, 0px 1px 1px #000000,
     2px 1px 1px #000000, 1px 2px 1px #000000, 3px 2px 1px #000000,
      2px 3px 1px #000000, 4px 3px 1px #000000, 3px 4px 1px #000000,
       5px 4px 1px #000000, 4px 5px 1px #000000, 6px 5px 1px #000000,
        5px 6px 1px #000000, 7px 6px 1px #000000;
}

#page-subheader {
    margin-bottom: 75px; 
    text-shadow: 0 1px 1px #000000;
}

#page-container {
    display: flex; 
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
    height: 100%;
    width: 100%;
    font-family: 'DM Mono', monospace;
    color: white;
    background-image: url(./images/def%20back.jpg);
    background-size: cover; 
}

#game-wrapper {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-basis: 20%;
    min-width: 150px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.8s;
    transform-style: preserve-3d;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgb(0, 0, 0);
} 

.card-front {
    position: absolute;
    font-size: 72px;
    backface-visibility: hidden;
    user-select: none;
}

.card-back {
    position: absolute;
    font-size: 72px;
    transform: rotateY(180deg);
    backface-visibility: hidden;  
    user-select: none;
}

.flipped {
    transform: rotateY(180deg);
    box-shadow: none;
}

.card:hover {
    box-shadow: 3px 3px 2px rgb(255, 255, 255);
}

.completed {
    visibility: hidden;
}

#game-wrapper:focus {
    outline: 3px solid white;
}

#menu:focus {
    outline: 1px solid white;
}

#btn-start {
    font-family: 'DM Mono', monospace;
    margin: 25px;
}

input[type="radio"]::after {
    filter: greyscale(1);
    background-color: grey;
    color: grey;
}

input[type="radio"]::checked:after {
    filter: greyscale(1);
    background-color: grey;
    color: grey;
}

footer {
    /* position: absolute;  */
    bottom: 15px;
}