body {
    background-color: black;
}

/* Main page header */
#page-header {
    font-size: 72px;
    color: white;
    text-align: center;
    margin: 10px; 
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 1px 0px 1px #000000, 0px 1px 1px #000000,
     2px 1px 1px #000000, 1px 2px 1px #000000, 3px 2px 1px #000000,
      2px 3px 1px #000000, 4px 3px 1px #000000, 3px 4px 1px #000000,
       5px 4px 1px #000000, 4px 5px 1px #000000, 6px 5px 1px #000000,
        5px 6px 1px #000000, 7px 6px 1px #000000;
}

/* Second smaller header */
#page-subheader {
    margin-bottom: 75px; 
    text-shadow: 0 1px 1px #000000;
}

/* Main page container */
#page-container {
    display: flex; 
    position: absolute;
    left: 0;
    top: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
    min-height: 100%;
    width: 100%;
    font-family: 'DM Mono', monospace;
    color: white;
    background-image: url(./images/def%20back.jpg);
    background-size: cover; 
}

/* Wraps the game cards */
#game-wrapper {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-bottom: 50px;
}

#menu {
    text-shadow: 0 1px 1px #000000;
}

.card {
    display: flex;
    flex-basis: 20%;
    min-width: 150px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.8s;
    transform-style: preserve-3d;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgb(0, 0, 0);
} 

.card-front {
    position: absolute;
    font-size: 72px;
    backface-visibility: hidden; /* Hides back side of card */
    user-select: none;
}

.card-back {
    position: absolute;
    font-size: 72px;
    transform: rotateY(180deg); /* Starts rotated so it's hidden */
    backface-visibility: hidden;  /* Hides back side of card */
    user-select: none;
}

/* State for flipped card */
.flipped {
    transform: rotateY(180deg); /* Rotates card so visible side appears */
    box-shadow: none;
}

.card:hover {
    box-shadow: 3px 3px 2px rgb(255, 255, 255);
}

/* Last state of matching cards */
.completed {
    visibility: hidden;
}

#game-wrapper:focus {
    outline: 3px solid white;
}

#menu:focus {
    outline: 1px solid white;
}

button {
    font-family: 'DM Mono', monospace;
    margin: 25px;
}

/* Score screen after game ends */
#score-screen {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    /* position: absolute;  */
    bottom: 15px;
}